{% extends 'base.html' %} {% block body %}
<div class="nav">
    <span
        id="mobileFriendlyHeader"
        style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
        "
    >
        <a href="/dashboard" class="nav-brand">
            <img
                src="{{url_for('static', filename='img/favicon.png')}}"
                alt=""
                style="width: 30px; margin-right: 1vw"
            />
            Notes Wallah
        </a>
        <button id="hamburgerIcon" onclick="openMenu()">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="30"
                width="30"
                viewBox="0 0 448 512"
                style="margin-right: 5vh"
            >
                <path
                    fill="#000000"
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                />
            </svg>
        </button>
    </span>
    <ul class="nav-links" id="navLinks">
        <li>
            <a href="/dashboard">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="13"
                    viewBox="0 0 512 512"
                >
                    <path
                        fill="#000000"
                        d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"
                    />
                </svg>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/create_post">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="11"
                    viewBox="0 0 448 512"
                >
                    <path
                        fill="#000000"
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                    />
                </svg>
                Share Notes
            </a>
        </li>
        <li>
            <a href="/study_music">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="13"
                    viewBox="0 0 512 512"
                >
                    <path
                        fill="#000000"
                        d="M256 80C149.9 80 62.4 159.4 49.6 262c9.4-3.8 19.6-6 30.4-6c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48c-44.2 0-80-35.8-80-80V384 336 288C0 146.6 114.6 32 256 32s256 114.6 256 256v48 48 16c0 44.2-35.8 80-80 80c-26.5 0-48-21.5-48-48V304c0-26.5 21.5-48 48-48c10.8 0 21 2.1 30.4 6C449.6 159.4 362.1 80 256 80z"
                    />
                </svg>
                Share podcast
            </a>
        </li>
        <li id="profile-menu-opener">
            <a id="profile_link" href="/profile">
                <span
                    style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    "
                >
                    <img
                        id="profile-pic"
                        src="{{curr_user.profile_picture}}"
                        alt=""
                        width="30px"
                        height="30px"
                        style="border-radius: 50%"
                    />
                    {{curr_user.username}}
                </span>
            </a>
        </li>
    </ul>
</div>
<br /><br /><br /><br /><br />
<div
    class="header"
    style="
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: 15vh;
        z-index: 2;
        background-color: white;
        padding: 20px 0;
        margin-bottom: 5vh;
    "
>
    <h2>Dashboard</h2>
    <div
        class="tabButtons"
        style="
            width: 80%;
            display: flex;
            border-bottom: 1px solid #dddddd;
            margin-top: 2vh;
        "
    >
        <button class="tabLinks1" onclick="openNote()">Notes</button>
        <button class="tabLinks2" onclick="openMusic()">Music</button>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<ul>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %} {% if post_details %}
<div class="tab-container" style="position: relative">
    <div class="tabContent" id="notes">
        {% for post_detail in post_details %}
        <div class="card-dashboard">
            <h3 class="card__title">
                <a
                    href="{{ url_for('view_post', post_id=post_detail.post.id) }}"
                    >{{ post_detail.post.file_name }}</a
                >
            </h3>
            <p class="card__content">{{ post_detail.post.file_description }}</p>
            <div class="card__date">
                <span
                    style="display: flex; align-items: center; margin: 10px 0"
                >
                    <img
                        src="{{ post_detail.author_profile_picture }}"
                        alt="author profile picture"
                        style="
                            width: 25px;
                            height: 25px;
                            aspect-ratio: 1/1;
                            size: cover;
                            border-radius: 50%;
                            margin-right: 10px;
                        "
                    />
                    <p style="font-size: 1rem">
                        {{ post_detail.post.author.username }}
                    </p>
                </span>
            </div>
            <a href="{{ url_for('view_post', post_id=post_detail.post.id) }}">
                <div class="card__arrow">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        height="15"
                        width="15"
                    >
                        <path
                            fill="#fff"
                            d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"
                        ></path>
                    </svg>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div id="music" class="tabContent">
        {% for music in musiclist %}
        <div class="music-card" style="flex-basis: 50%">
            <span
                style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2vh 0;
                "
                ><img
                    src="{{music.author_profile_picture}}"
                    alt="Profile Picture of Author"
                    width="50px"
                    style="border-radius: 50%; aspect-ratio: 1/1; size: cover"
                />
                <p style="margin: 2vh 1vw">
                    <b
                        ><a
                            href="{{ url_for('author_profile', user_id=music.music.author.id) }}"
                            >{{music.music.author.username}}</a
                        ></b
                    >
                    {{music.music.posted_at.strftime("%Y %H:%M:%S")}}
                </p>
            </span>
            <iframe
                id="musicFrame"
                src="https://www.youtube.com/embed/{{music.music.music_link}}"
                title="{{music.music.music_name}}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                style="border: 1px solid black"
            ></iframe>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<center>
    <h1 style="color: grey; font-size: 30px; margin: 5vh auto">
        No Posts Available
    </h1>
</center>
{% endif %} {% endblock %}
