{% extends 'base.html' %} {% block body %}
<div class="nav">
    <span
        id="mobileFriendlyHeader"
        style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
        "
    >
        <a href="/dashboard" class="nav-brand">
            <img
                src="{{url_for('static', filename='img/favicon.png')}}"
                alt=""
                style="width: 30px; margin-right: 1vw"
            />
            Notes Wallah
        </a>
        <svg
            id="hamburgerIcon"
            xmlns="http://www.w3.org/2000/svg"
            height="30"
            width="30"
            viewBox="0 0 448 512"
            onclick="openMenu()"
            style="margin-right: 5vh"
        >
            <path
                fill="#000000"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
        </svg>
    </span>
    <ul class="nav-links" id="navLinks">
        <li>
            <a href="/dashboard">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="13"
                    viewBox="0 0 512 512"
                >
                    <path
                        fill="#000000"
                        d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"
                    />
                </svg>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/create_post">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="11"
                    viewBox="0 0 448 512"
                >
                    <path
                        fill="#000000"
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                    />
                </svg>
                Share Notes
            </a>
        </li>
        <li>
            <a href="/study_music">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="13"
                    width="13"
                    viewBox="0 0 512 512"
                >
                    <path
                        fill="#000000"
                        d="M256 80C149.9 80 62.4 159.4 49.6 262c9.4-3.8 19.6-6 30.4-6c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48c-44.2 0-80-35.8-80-80V384 336 288C0 146.6 114.6 32 256 32s256 114.6 256 256v48 48 16c0 44.2-35.8 80-80 80c-26.5 0-48-21.5-48-48V304c0-26.5 21.5-48 48-48c10.8 0 21 2.1 30.4 6C449.6 159.4 362.1 80 256 80z"
                    />
                </svg>
                Share podcast
            </a>
        </li>
        <li id="profile-menu-opener">
            <a id="profile_link" href="/profile">
                <span
                    style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    "
                >
                    <img
                        id="profile-pic"
                        src="{{curr_user.profile_picture}}"
                        alt=""
                        width="30px"
                        height="30px"
                        style="border-radius: 50%"
                    />
                    {{curr_user.username}}
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="file-container">
    <span id="view-profile-navigations">
        <a href="/dashboard" id="back-to-dashboard">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="14"
                viewBox="0 0 448 512"
            >
                <path
                    fill="#007bff"
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                />
            </svg>
            Back to Dashboard
        </a>
    </span>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">File Details</h2>

            <div class="post-details">
                {% if post.file_path %}
                <iframe
                    id="file-preview"
                    src="{{url_for('static', filename=file_path)}}"
                    frameborder="0"
                    style="border: 1px solid black; margin: 0 3vw"
                ></iframe>
                <br />

                {% endif %}
                <div class="file-details">
                    <h1 style="font-size: 20px">{{ post.file_name }}</h1>
                    <p class="text-muted"><b>{{ post.author.username }}</b></p>
                    <p>
                        <b>Description</b>: <br />
                        {{ post.file_description }}
                    </p>
                    <p class="text-muted" style="font-size: 10px">
                        {{ post.posted_at.strftime('%Y-%m-%d %H:%M:%S') }}
                    </p>
                </div>
                <a
                    href="{{ url_for('download_file', post_id=post.id) }}"
                    class="btn btn-primary btn-download"
                    >Download File</a
                >
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
